@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.card{
	width:100%;
	width:100vw;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),
	url("https://t4.ftcdn.net/jpg/04/18/24/15/360_F_418241563_tjvYcmLJvyG0v4kd3APD1jQQr3CLa46J.jpg");
	background-size:cover;	
	background-position:center;
}
button{
	width:400px;
	height: 50px;
	padding:15px 0;
	text-align:center;
	margin:20px 10px;
	border-radius:25px;
	font-weight:bold;
	border:2px solid #009688;
	background:transparent;
	color:#fff;
	cursor:pointer;
	position:relative;
	overflow:hidden;
}

body{
    display: flex;
    justify-content: center;
    align-items: 100vh;
    background: #f6f6f6;
}
.box{
    width: 1000px;
    border-bottom: 20px solid #03a9f4;    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.box h2{
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.box ul{
    position: relative;
    background: #fff;
}
.box ul li{
    list-style: none;
    padding: 10px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 25px rgba(0,0,0,0.1);
    transition: transform 0.5s;
}
/*.box ul:hover li{
    opacity: 0.2
}*/
.box ul li:hover{
    transform: scale(1.1);
    z-index: 100;
    opacity: 1;
    background: #25bcff;
    box-shadow: 0 5px 25px rgba(0,0,0,0.2);
    color: #fff;
}
.box ul li span{
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #25bcff;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
    transform: translateY(-2px);
}
.box ul li:hover span
{
    background: #fff;
    color: #25bcff;
}
#userdisplay{
    display: none;
}