<!DOCTYPE html>
<html>
    <head>
        <title>Parties and candidates</title>
        <link rel="stylesheet" href="../static/parties.css" type="text/css">
    </head>
    <body >
        <input type="radio" name="photos" id="check1" checked>
        <input type="radio" name="photos" id="check2">
        <input type="radio" name="photos" id="check3">
        <input type="radio" name="photos" id="check4">

        <div class="container">
            <h1>Parties and Candidates</h1>
            <div class="top-content">
                <h3>Parties and Candidates</h3>
                <label for="check1">All Candidates</label>
                <label for="check2">YSRCP</label>
                <label for="check3">TDP</label>
                <label for="check4">JANASENA</label>
            </div>

            <div class="party-candidates">
                <div class="pic ysrcp">
                    <img src="/static/img/party11.jpg">
                    <p>Jagan</p>
                </div>
                <div class="pic tdp">
                    <img src="static/img/party21.jpg">
                    <p>chandra babu naidu</p>
                </div>
                <div class="pic janasena">
                    <img src="/static/img/party31.jpeg">
                    <p>Konidela Pawan Kalyan</p>
                </div>
                <div class="pic ysrcp">
                    <img src="/static/img/party12.jpeg">
                    <p>Peedika Rajanna Dora</p>
                </div>
                <div class="pic tdp">
                    <img src="/static/img/party22.jpeg">
                    <p>K. E. Krishnamurthy</p>
                </div>
                <div class="pic janasena">
                    <img src="/static//img/party32.jpeg">
                    <p>Nadendla Manohar</p>
                </div>
                <div class="pic ysrcp">
                    <img src="/static/img/party13.jpeg">
                    <p>K. Narayana Swamy</p>
                </div>
                <div class="pic tdp">
                    <img src="/static/img/party23.jpg">
                    <p>Yanamala Rama Krishnudu</p>
                </div>
                <div class="pic janasena">
                    <img src="/static/img/party33.jpeg">
                    <p>Bongunoori Mahender Reddy</p>
                </div>
                <div class="pic ysrcp">
                    <img src="/static/img/party14.jpeg">
                    <p>Budi Mutyala Naidu</p>
                </div>
                <div class="pic tdp">
                    <img src="/static/img/party24.jpeg">
                    <p>Devineni Uma Maheswara Rao</p>
                </div>
                <div class="pic janasena">
                    <img src="/static/img/party34.jpeg">
                    <p>Thota Chandrasekhar</p>
                </div>
                <div class="pic ysrcp">
                    <img src="/static/img/party15.jpg">
                    <p>R.K.ROJA</p>
                </div>
                <div class="pic tdp">
                    <img src="/static/img/party25.jpg">
                    <p>Paritala Sunitha</p>
                </div>
                <div class="pic janasena">
                    <img src="/static/img/party35.jpeg">
                    <p>Pawan Kalyan</p>
                </div>
                <div class="pic ysrcp">
                    <img src="/static/img/party16.jpeg">
                    <p>Kottu Satyanarayana</p>
                </div>
                <div class="pic tdp">
                    <img src="/static/img/party26.jpg">
                    <p>Nara Lokesh</p>
                </div>
                <div class="pic janasena">
                    <img src="/static/img/party36.jpeg">
                    <p>Nagender babu</p>
                </div>
            </div>
        </div>
        
        
    </body>
</html>
